<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="../assets/styles/css/header.css">
</head>
<body>
    <header>
        <img src="../assets/styles/images/shark_pitch_logo.jpg" alt="" id="logo">
       <a href="Home.html" id="shark">SHARK PITCH</a>
        <a href="Home.html" id="about">About Us</a>
        <a href="Home.html" id="contact">Contact Us</a>
        <a href="Home.html" id="logout">Logout</a>
        <img src="../assets/styles/images/profile.jpg" alt="" id="prof">
    </header>
    
</body>
</html>